<footer>
    <div class="container upper">
        <nav>
            <a href="/actions"> Акции </a>
            <a href="/index" class="active">Меню</a>
            <a href="/delivery">Доставка</a>
            <a href="/contact">Контакты</a>
        </nav>
    </div>
    <div class="line"></div>
    <div class="container bottom">
        <p class="text ">
            © 2019 все права защищены
        </p>
    </div>
</footer>

{{!-- <script src="/js/script00.js"></script> --}}
{{!-- <script src="/js/scripts.min.js"></script> --}}
<script src="/js/jquery.min.js"></script>
<script src="/js/libs.min.js"></script>
<script src="/js/script00.js"></script>
</body>

</html>