<section class="delivery">
    <div class="container">
        <h2 class="block_title">
            Доставка
        </h2>

        <div class="wrap">
            <div class="col">
                <div class="col_upper">
                    <div class="icon">
                        <img src="/img/calendar.svg" alt="">
                    </div>
                    <h2 class="col_title">
                        График работы:
                    </h2>
                </div>

                <p>
                    Прием заказов производится круглосуточно, 24/7.
                </p>

                <p>
                    <b>Доставка:</b> Пн-вс: 09:00-21:00.
                </p>
            </div>
            <div class="col">
                <div class="col_upper">
                    <div class="icon">
                        <img src="/img/delivery.svg" alt="">
                    </div>
                    <h2 class="col_title">
                        Условия доставки:
                    </h2>
                </div>

                <p>
                    Доставка осуществляется только в пределах МКАД.
                </p>

                <p>
                    При заказе на сумму от 1000 руб. доставка <b>бесплатная</b>.
                </p>
                <p>
                    *при заказе до 1000 руб. стоимость доставки составит 200 руб..
                </p>
            </div>
            <div class="col">
                <div class="col_upper">
                    <div class="icon">
                        <img src="/img/clock.svg" alt="">
                    </div>
                    <h2 class="col_title">
                        Время доставки:
                    </h2>
                </div>

                <p>
                    От <b>20</b> до <b>120</b> минут в зависимости от адреса доставки.
                </p>

                <p>
                    При подтверждении заказа оператор сообщит вам точное время доставки и примет ваши предпочтения по
                    времени доставки.
                </p>
            </div>
        </div>
    </div>
</section>