<br>
<br>
<br>
<br>
<br>
<br>
<section class="callback">
	<div class="container">
		<h2 class="block_title">
			Login
		</h2>
		{{#if errMess}}
		<div class="error_message">
			<p>
				{{errMess}}
			</p>
		</div>
		{{/if}}
		<form class="form" action="/login" method="POST">
			<div class="line upper">
				<div class="left">
					<input type="text" name="name" class="required" placeholder="Login *" required>
					<input type="password" name="pass" class="required" placeholder="Password *" required>
				</div>
			</div>

			<div class="line form_bottom">
				<button class="btn send">
					Отправить
				</button>
			</div>
		</form>
	</div>
</section>