
	<section class="pie_action">
		<div class="container">
			<div class="col">
				<div class="col_face">
					<img src="/img/c60cf96b6b75dfb31940a59051cbe707.jpg" alt="">
				</div>
				<div class="col_description">
					<a href="/single/1" class="page">
						<h3 class="col_title">3 пирога за 999 рублей</h3>
						<p class="col_text">
							В акции участвуют любые большие пиццы на тонком тесте. Акция действует при заказе на доставку и навынос. Срок действия акции ограничен.
						</p>
					</a>
					
				</div>
			</div>

			<div class="col_line">
				<h2 class="col_title">
					Выберите пирог
				</h2>
				<div class="select" onclick="selectToggle(this)">
					<div class="indicator">
						<span >
							С говядиной, сыром, грибами, помидорами - <b> 690 руб</b>.  
						</span>
						<input type="hidden" name="offer">
					</div>
					<ul class="list">
						<li data-price="690 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/1b9176bef6f8948b6563ae27772ac99b.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										С говядиной, сыром, грибами, помидорами
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
						<li data-price="590 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/3d37488fd125c99256407516797afb69.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										Сладкий вишневый пирог "Сherry"
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
						<li data-price="490 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/025ad9a05596515e7a8d20b31682589e.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										Со свекольными листьями и осетинским сыром
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="result">
					<div class="line_pie" data-price="690 руб.">
						<img src="/img/1b9176bef6f8948b6563ae27772ac99b.jpg" alt="">
						<div class="info">
							<h3 class="col_title">
								С говядиной, сыром, грибами, помидорами
							</h3>
							<div class="bottom">
								<span>
									Вес пирога  
								</span>
								<p>
									800 грамм
								</p>
								<p>
									25 см
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col_line">
				<h2 class="col_title">
					Выберите пирог
				</h2>
				<div class="select" onclick="selectToggle(this)">
					<div class="indicator">
						<span >
							С говядиной, сыром, грибами, помидорами - <b> 690 руб</b>.  
						</span>
						<input type="hidden" name="offer">
					</div>
					<ul class="list">
						<li data-price="690 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/1b9176bef6f8948b6563ae27772ac99b.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										С говядиной, сыром, грибами, помидорами
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
						<li data-price="590 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/3d37488fd125c99256407516797afb69.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										Сладкий вишневый пирог "Сherry"
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
						<li data-price="490 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/025ad9a05596515e7a8d20b31682589e.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										Со свекольными листьями и осетинским сыром
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="result">
					<div class="line_pie" data-price="690 руб.">
						<img src="/img/1b9176bef6f8948b6563ae27772ac99b.jpg" alt="">
						<div class="info">
							<h3 class="col_title">
								С говядиной, сыром, грибами, помидорами
							</h3>
							<div class="bottom">
								<span>
									Вес пирога  
								</span>
								<p>
									800 грамм
								</p>
								<p>
									25 см
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col_line">
				<h2 class="col_title">
					Выберите пирог
				</h2>
				<div class="select" onclick="selectToggle(this)">
					<div class="indicator">
						<span >
							С говядиной, сыром, грибами, помидорами - <b> 690 руб</b>.  
						</span>
						<input type="hidden" name="offer">
					</div>
					<ul class="list">
						<li data-price="690 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/1b9176bef6f8948b6563ae27772ac99b.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										С говядиной, сыром, грибами, помидорами
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
						<li data-price="590 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/3d37488fd125c99256407516797afb69.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										Сладкий вишневый пирог "Сherry"
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
						<li data-price="490 руб." onclick="choosePie(this)">
							<div class="line_pie" >
								<img src="/img/025ad9a05596515e7a8d20b31682589e.jpg" alt="">
								<div class="info">
									<h3 class="col_title">
										Со свекольными листьями и осетинским сыром
									</h3>
									<div class="bottom">
										<span>
											Вес пирога  
										</span>
										<p>
											800 грамм
										</p>
										<p>
											25 см
										</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="result">
					<div class="line_pie" data-price="690 руб.">
						<img src="/img/1b9176bef6f8948b6563ae27772ac99b.jpg" alt="">
						<div class="info">
							<h3 class="col_title">
								С говядиной, сыром, грибами, помидорами
							</h3>
							<div class="bottom">
								<span>
									Вес пирога  
								</span>
								<p>
									800 грамм
								</p>
								<p>
									25 см
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col_line footer">
				<h3 class="pie_price">5900 руб.</h3>
				<button class="btn ">
					Добавить в корзину
				</button>
			</div>
		</div>
	</section>